* {
  margin: 0;
}

@font-face {
  font-family: "Migha";
  font-weight: 900;
  src: url("./fonts/static/Migha-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Raleway-semi-bold";
  font-weight: 600;
  src: url("./fonts/static/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-light";
  font-weight: 600;
  src: url("./fonts/static/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway-bold";
  font-weight: 600;
  src: url("./fonts/static/Raleway-Bold.ttf") format("truetype");
}
nav {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
  flex-wrap: wrap;
  font-family: "Raleway-semi-bold";
}
nav .logo {
  width: 75px;
  height: 75px;
  margin-left: 10px;
}
nav .container-left {
  display: flex;
  margin-left: 100px;
}
nav .nav-links {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}
nav li {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: semi-bold;
}
nav li a {
  text-decoration: none;
  color: #5A8A6B;
  font-family: "Raleway-semi-bold";
}
nav .container-buy {
  background-color: #D9D9D9;
  border: none;
  padding: 2px;
  margin-right: 0;
  height: 30px;
  width: 110px;
  display: flex;
  align-items: center;
  display: flex;
  right: 0;
  transform: translate(500px);
  margin-top: 7px;
}
nav .container-buy .container-button {
  margin-left: auto;
  margin-right: auto;
}
nav .container-buy .container-button a {
  text-decoration: none;
  color: #5A8A6B;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Raleway-semi-bold";
}

.logo2 {
  width: 350px;
  height: 300px;
  margin-left: 10px;
  border-radius: 10px;
}

.container-contact {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
}
.container-contact .container-contact-left {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Raleway-bold";
}
.container-contact .container-contact-left h1 {
  font-size: 20px;
  font-weight: bold;
}
.container-contact .container-contact-left .contact {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.container-contact .container-contact-left input {
  width: 400px;
  height: 40px;
  background-color: white;
  border: solid;
  border-color: #E66A74;
  margin-top: 20px;
}
.container-contact .container-contact-left input::-moz-placeholder {
  padding: 10px;
}
.container-contact .container-contact-left input:-ms-input-placeholder {
  padding: 10px;
}
.container-contact .container-contact-left input::placeholder {
  padding: 10px;
}
.container-contact .container-contact-left button {
  width: 100px;
  left: 0;
  margin-top: 20px;
  border: 1px solid;
  border-color: #E66A74;
  background-color: #D9D9D9;
  padding: 10px;
  font-family: "Raleway-light";
}
.container-contact .container-contact-right {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: "Raleway-light";
}
.container-contact .container-contact-right .contact-mail {
  display: flex;
  flex-direction: row;
}
.container-contact .container-contact-right .contact-mail .contact-span-contact {
  font-size: 20px;
  text-decoration: underline;
  margin-right: 30px;
}
.container-contact .container-contact-right .contact-adresse {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.container-contact .container-contact-right .contact-adresse .contact-span-based {
  font-size: 20px;
  text-decoration: underline;
  margin-right: 30px;
}

.container-quizz-question .container-quizz-question2 .question {
  font-family: "raleway-bold";
}

.container-quizz {
  background-color: #F1E7D7;
  font-family: "Raleway-light";
}
.container-quizz #quiz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 10px;
  width: 800px;
  transform: translate(50%);
}
.container-quizz .question {
  color: #E66A74;
  font-weight: 600;
  font-weight: bold;
}
.container-quizz .answers {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
}
.container-quizz .answers label {
  display: block;
}
.container-quizz .container-question {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-quizz input {
  margin-right: 10px;
}
.container-quizz .container-result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-quizz .quizz-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-quizz .quizz-button #submit {
  background-color: white;
  border: solid;
  border-color: #E66A74;
  color: #E66A74;
  padding: 10px;
  cursor: pointer;
  margin-top: 30px;
}

footer .container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  font-family: "Raleway-light";
}
footer .container-footer .container-footer-left {
  display: flex;
  flex-direction: row;
  border: solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  padding: 10px;
}
footer .container-footer .container-footer-left .footer-adresse {
  margin-top: 10px;
  font-size: smaller;
  margin-right: 60px;
}
footer .container-footer .container-footer-left .footer-adresse h2 {
  font-family: "Raleway-semi-bold";
}
footer .container-footer .container-footer-left .footer-contact {
  margin-top: 10px;
  font-size: smaller;
  margin-right: 60px;
}
footer .container-footer .container-footer-left .footer-contact h2 {
  font-family: "Raleway-semi-bold";
}
footer .container-footer .container-footer-right {
  border: solid;
  border-right: none;
  border-bottom: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
footer .container-footer .container-footer-right .footer-text {
  margin-top: 10px;
  font-size: smaller;
  margin-left: 60px;
}
footer .container-footer .container-footer-right .footer-text h2 {
  font-family: "Raleway-semi-bold";
}
footer .container-footer .container-footer-right .logo {
  width: 75px;
  height: 75px;
  margin-left: 10px;
}

.section1 {
  padding-top: 150px;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: -100px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.container-eco-life2 {
  width: auto;
}

.section1 h1 {
  font-family: "Migha";
  font-weight: 900;
  font-size: 96px;
  color: #94B59F;
  margin-bottom: -10px;
}

.section1 h2 {
  font-family: "Raleway-semi-bold";
  color: #E66A74;
  font-size: 22px;
}

.section1 p {
  width: 50%;
  font-family: "Raleway-light";
  margin-bottom: 40px;
}

.bouton {
  justify-content: center;
  width: 14%;
  background-color: #D9D9D9;
  display: flex;
  height: 46px;
  align-items: center;
}

.bouton a {
  color: #5A8A6B;
  font-family: "Raleway-semi-bold";
  font-size: 18px;
}

.section2 {
  background-color: #D9D9D9;
  height: 300px;
  display: flex;
}

.section2 .droite > h1 {
  color: #5A8A6B;
  font-family: "Raleway-semi-bold";
}

.section2 .droite > p {
  font-family: "Raleway-light";
}

.section2 .img {
  width: 50%;
  transform: translate();
}

.section2 .gauche {
  border: solid 2px #3F3F3F;
  border-top: none;
  border-bottom: none;
  text-align: center;
  margin-left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .droite {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-right: 130px;
  margin-left: 84px;
}

.createurs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.section3 {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 100px;
}

.section3 .createurs h2 {
  font-family: "Raleway-light";
  color: #E66A74;
  text-align: center;
}

.section3 .createurs p {
  text-align: center;
  font-family: "Raleway-light";
}

.section4 {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 100px;
}

.regles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
}

.regles .gauche h1 {
  font-family: "Raleway-bold";
  font-size: 36px;
  color: #5A8A6B;
}

.regles .gauche p {
  font-size: 16px;
  font-family: "Raleway-light";
  width: 80%;
}

.regles .droite img {
  width: 250px;
  height: 200px;
  transform: rotate(-90deg);
}

.regles .droite {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #3F3F3F;
  border-right: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regles .gauche {
  border: solid 2px #3F3F3F;
  border-left: none;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: none;
}

.section5 {
  background-color: #94B59F;
  height: 680px;
  margin-top: 75px;
  padding-top: 50px;
}

.section5 .column-regles .gauche {
  width: 85%;
  border: solid 1px #3F3F3F;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-right: 80px;
}

.section5 .column-regles .droite {
  margin-left: 100px;
}

.column-regles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0px;
  margin-left: 160px;
  margin-right: 160px;
}

.section5 .column-regles .gauche h2 {
  font-family: "Raleway-semi-bold";
  font-size: 20px;
  color: #F1E7D7;
  margin-bottom: 0px;
}

.section5 .column-regles .gauche p {
  font-family: "Raleway-light";
  font-size: 16px;
}

.section5 .column-regles .droite h2 {
  font-family: "Raleway-semi-bold";
  font-size: 20px;
  color: #F1E7D7;
  margin-bottom: 0px;
}

.section5 .column-regles .droite p {
  font-family: "Raleway-light";
  font-size: 16px;
}

.section5 .column-regles .gauche .haut {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .createurs {
    flex-direction: column;
  }
  .bouton {
    width: 35%;
  }
  .regles {
    display: flex;
    flex-direction: column;
  }
  .regles .gauche {
    border: none;
  }
  .regles .droite {
    border: none;
  }
  .section1 {
    margin: 20px;
  }
  .section2 .parent {
    margin: 20px;
  }
  .section3 {
    margin: 20px;
  }
  .section4 {
    margin: 20px;
  }
  .section5 {
    height: 1600px;
  }
  .section5 .column-regles {
    margin: 20px;
  }
  .section5 .column-regles .gauche {
    width: 90%;
    padding-right: 0;
  }
  .body {
    width: 188%;
  }
  .column-regles {
    display: flex;
    flex-direction: column;
  }
  .section2 .gauche {
    display: none;
  }
  .container-contact {
    display: flex;
    flex-direction: column;
  }
  .container-contact .container-contact-right {
    margin-left: 10px;
    margin-right: 10px;
  }
  footer .container-footer {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .container-buy {
    transform: translate(0);
  }
  footer .container-footer .container-footer-left {
    border: none;
    margin-right: 0px;
  }
  footer .container-footer .container-footer-right {
    border: none;
  }
  .container-contact .container-contact-left input {
    width: 80%;
  }
  .section5 .column-regles .gauche {
    border: none;
  }
  .section5 .column-regles .droite {
    border: none;
    margin-left: 0;
    margin-top: 30px;
  }
  .section4 {
    display: flex;
    flex-direction: column;
  }
  nav .container-buy {
    transform: none;
  }
  .container-left {
    display: flex;
    flex-direction: column;
  }
  nav .container-left {
    margin-left: 0px;
  }
  nav .nav-links {
    flex-direction: column;
  }
  footer .container-footer .container-footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */